/* 
==============
LITTLE HELPERS
==============
*/

.redborder {
    border: 1px solid red;
}

.blueborder {
    border: 1px solid blue;
}



.flexed {
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover {
    text-decoration: none !important;
}



body,
html {
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 1200px) {

    .container {
        max-width: 1500px;
    }
}

/* 
=========
JUMBOTRON
=========
*/

.jumbotron-logo {
    height: 150px;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #ffffff;
    border-radius: 0.3rem;
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 4rem 2rem;
    }
}

.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
}

/* POST DISPLAY JUMBOTRON */
.post-display-jumbotron {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* POST DISPLAY JUMBOTRON */

.about-link,
.contact-link {
    color: #222;
    font-weight: 600;

}

.about-link:hover,
.contact-link:hover {
    transition: 0.3s;
    color: #48AA8B;
}

/* 
======
NAVBAR
======
*/

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border-radius: 0;
    transition: box-shadow 0.15s ease-in-out;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #000;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
    color: #48AA8B;
}

.navbar-logo {
    height: 40px;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #48AA8B;
    border-radius: 0;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #48AA8B;
    background-color: #fff;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #48AA8B;
}


/* 
=======
BUTTONS
=======
*/

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #48AA8B;
    border-radius: 0px !important;
    border: 1px solid #48AA8B;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    background-color: #FFF;
    color: #48AA8B;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
}

.btn-check:focus+.btn-danger,
.btn-danger:focus {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
    box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}

/* 
  ==========
  POST CARDS
  ==========
  */

.card-img-top {
    height: 180px;
    border-radius: 0px;
}

.post-image {
    filter: brightness(50%);
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background: #FFF;
    height: 205px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 345px;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: 0;
    border-bottom: 5px solid #222;

}

.card:hover {
    transition: box-shadow 0.3s ease-in-out;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #ffffff;
    -webkit-box-shadow: 27px 27px 8px #48AA8B,
        -27px -27px 8px #ffffff;
    box-shadow: 27px 27px 8px #48AA8B,
        -27px -27px 8px #ffffff;
}

.card:hover>.post-image {
    transition: 0.3s ease-in-out;
    filter: brightness(100%);
}



.post-published-date {
    padding-left: 16px;
}

.post-author {
    padding-right: 16px;
}


/* 
=================
POST DISPLAY PAGE
=================
*/

.post-title {
    text-transform: uppercase;
    font-weight: 300;
}

.post-content {
    border-top: 5px solid #222;
    border-bottom: 5px solid #222;
}

/* COMMENT BOX */

.comment-box {
    border-left: 2px solid #48AA8B;
}

.comment-box-name {
    text-transform: uppercase;
    font-weight: 500;
}