{% extends 'base/base.html' %}
{% load static %}
{% load social_share %}


{% block title %}
Nue Blog
{% endblock title %}

{% block content %}


<!-- FEATURED SECTION -->
<div class="container my-5 feature-container flexed">
    {% for post in posts  %}
    {% if post.large_feature == True %}
    <a href="{{post.get_absolute_url}}" class="main-feature-card bg-dark text-white">
        <img class="card-img feature-card-img" src="{{ post.image.url }}" alt="{{ post.title }}">
        <div class="card-img-overlay">
            <h5 class="card-title featured-card-title m-0">{{post.title}}</h5>
            <p class="card-text featured-card-text m-0">{{post.excerpt}}.</p>
            <div class="showthis my-2">
                By: {{post.author}}
            </div>
        </div>
    </a>
    {% endif %}
    {% endfor %}

    {% for post in posts  %}
    {% if post.small_feature == True %}
    <a href="{{post.get_absolute_url}}" class="main-feature-card-2 bg-dark text-white">
        <img class="card-img feature-card-img" style="height: auto;" src="{{ post.image.url }}" alt="{{ post.title }}">
        <div class="card-img-overlay">
            <h5 class="card-title featured-card-title m-0">{{post.title}}</h5>
            <p class="card-text featured-card-text m-0"><em>{{post.excerpt}}.</em></p>
            <div class="showthis my-2">
                By: {{post.author}}
            </div>
        </div>
    </a>
    {% endif %}
    {% endfor %}
</div>

<!-- POSTS -->
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for post in posts %}

            <div class="col-md-3 flexed">
                <a class="text-dark" href="{{post.get_absolute_url}}">
                    <div class="card mb-5">
                        <img class="card-img-top post-image" src="{{ post.image.url }}" alt="{{ post.title }}">
                        <div class="card-body">
                            <h2 style="font-size:18px;font-weight:bold">{{post.title|truncatechars:50}}</h2>
                            <p class="card-text" style="height: 65px;">{{post.excerpt|truncatechars:50}}</p>

                        </div>
                        <div class="d-flex py-1 justify-content-between align-items-right">
                            <small class="text-muted post-published-date">{{post.publish}}</small>
                            <small class="text-muted post-author">{{post.author}}</small>

                        </div>
                    </div>
                </a>
            </div>

            {% endfor %}

        </div>
    </div>
</div>
<!-- POSTS -->

{% endblock content %}